body{
    background-image: url(pruthpi_web.jpg);
    justify-content: center;
    align-items: center;
    display: flex;
}
section{
    color: white;
    font-size: 30px;
}
.box{
    padding: 8px 20px;
}